.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 16px;
    font-size: 16px;
    background-color: white;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0px 2px 5px 0px #0000001a;
    z-index: 1;
}