.produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.produto:hover {
    box-shadow: 1px 3px 10px 0px #80808012;
    transition: box-shadow 0.3s ease;
}

.produto-imagem {
    width: 260px;
    max-width: 100%;
}

.produto-imagem:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.produto-descricao {
    background-color: white;
    color: #0A0A0A;
    line-height: 24px;
    padding: 20px;
}

.produto-descricao h3 {
    margin-bottom: 10px;
}

.produto-descricao h3, .produto-preco {
    font-size: 18px;
    font-weight: 500;
}

.produto-descricao h3, .produto-info span {
    color: #101828;
}

.produto-descricao span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #6A7282;
    width: 260px;
    margin-bottom: 20px;
}

.produto-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botao-comprar {
    background-color: #101828;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 10px;
    visibility: hidden;
    cursor: pointer;
}

.botao-comprar img {
    filter: brightness(1) invert(1)
}

.botao-comprar:hover {
    background-color: #1E2939;
}

.produto:hover .botao-comprar {
    visibility: visible;
}

@media screen and (max-width: 990px) {
    .botao-comprar {
        visibility: visible;
    }
}

