.categoria {
    background-color: white;
    color: #364153;
    border: none;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    border-radius: 10px;
    line-height: 24px;
    padding: 8px 20px;
}

.categoria:hover {
    background-color: #F3F4F6;
    color: #364153;
}


.categoria-selecionada {
    background-color: #101828;
    color: white;
    border: none;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    border-radius: 10px;
    line-height: 24px;
    padding: 8px 20px;
}