.container {
    max-width: 1285px;
    margin: 35px auto;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

@media screen and (max-width: 1286px) {
    .container {
        padding-inline: 10px;
    }    
}